// hamburger 

.hamburger {
  position: relative;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 0.2rem;
  width: 0.5rem;
  cursor: pointer;



  span {
    width: 2.5rem;
    height: 0.2rem;
    background-color: black;
    position: absolute;
    top: 0.5rem;
    margin-bottom: .5rem;
    right: 0;
    transition: all .1s ease-in-out;


    &.opacity {
      background: none;
      transition: all .25s ease-in-out;
      

      &::after {
        width: 3rem;
        background-color: $red-color;
        transform: rotate(-135deg);
        transition: all .5s ease-in-out;
        top: 10px;

      }

      &::before {
        background-color: black;
        transform: rotate(135deg);
        transition: all .5s ease-in-out;
        top: 10px;


      }


    }


    &::before {
      content: '';
      width: 3rem;
      height: 0.2rem;
      background-color: $red-color;
      position: absolute;
      top: -0.5rem;

    }

    &::after {
      content: '';
      width: 2rem;
      height: 0.2rem;
      background-color: $red-color;
      position: absolute;
      top: 0.5rem;
    }

  }
}


// mobile nav

@media only screen and (min-width: 0px) and (max-width: 479px),
(min-width: 480px) and (max-width: 767px) {

 
 .hamburger {
   position: absolute;
 }
 nav {
   position: relative;
 }

}